* {
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 500;
}
body{
    width: 80%;
    margin: 0 10%;
}
strong{
    font-weight: bold;
}
a{
    text-decoration: none;
    font-weight: 700;
    color:black;
}
a:visited{
    color:black;
}
ul#navbar li {
    display: inline-block;
    font-size: 190%;
    color:black;
    margin: 2% 6%;
}
ul#navbar{
    text-align: center;
    margin: 0;
    padding: 0;
}
ul#navbar:hover{
    background-color: black;
}
ul#navbar:hover a{
    color:white;
}
.content {
    margin: 5% 15%;
    font-size: 20px;
}
.user-upload-container{
    text-align: center;
}
.base-button {
    display: inline-block;
    background-color: black;
    color: white;
    font-weight: 800;
    border: 0;
    padding: 10px 15px;
    margin: 4% 6%;
}
.base-button:hover{
    cursor: pointer;
}
.base-button:disabled{
    background-color: lightgrey;
    cursor: initial;
}
#prevImage{
    max-width: 50%;
    max-length: auto;
}
.effect-name li{
    list-style-type: none;
    display: inline-block;
    cursor: pointer;
    font-weight: bolder;
    font-size: 16px;
    text-transform: lowercase;
}
.container{
    text-align: center;
}
#effect-name-input{
    text-transform: capitalize;
}
#stats-image{
    height: 100%;
    width: 110%;
}