{% extends 'base.html' %}

{% block content %}
    how do you create your first stickerpack? it's simple, just follow this super simple 3-step guide:
    <ol>
    <li>
       <p> <strong> find. </strong>
        <span>
            go to Telegram and find <a href="https://t.me/Stickers"> @stickers </a> bot. type "/newpack" command.
            the bot will provide you with further instruction.
        </span>
       </p>
    </li>

    <li>
        <p>
            <strong> add. </strong>
        <span>
            create your future stickers here. we will take care of the format. after editing submit your picture to the bot and choose the corresponding emoji. repeat for every pic you'd like to add to your pack.
            don't worry, you can always add some more stickers to the pack later.
        </span>
       </p>
    </li>
    <li>
        <p> <strong> save.</strong>
        <span>
            after you have all of your stickers added to the pack, just save it and wait a bit until it's available in the app.
        </span>
       </p>
    </li>
    </ol>
    congrats, you have just created your first stickerpack!

{% endblock %}