{% extends 'base.html' %}

{% block content %}
    <p>
     hey there!
        </p>
    <p>
        welcome to the <span>stickergen</span> - a web-application which will simplify the way you create stickerpacks for telegram.
        you can add cool effects and text to your future sticker without worrying about format and size.
      </p>
    <p>
    let your creativity out - we'll do the rest ;)
    </p>
    <p>
    INPUT PHOTO____________________SMALL INSTRUCTION ON THE RIGHT <BR>
    BUTTON SUBMIT
    </p>
{% endblock %}
